.acessar-div {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.acessar-div form {
  background-color: var(--c10);
  width: 400px;
  border-radius: 20px;
  padding: 28px 56px;
  margin-bottom: 28px;
  color: var(--c2);
}

.acessar-div img:first-child {
  width: 280px;
  height: 280px;
  align-self: flex-end;
}

.acessar-div form + img {
  width: 180px;
  height: 180px;
}

.acessar-div form h2 {
  text-align: center;
  font: 700 1.8rem /1.3 "Lato";
}

.acessar-div p {
  margin-top: 8px;
  font: 300 1rem/1.3 "Poppins";
  color: var(--c4);
  text-align: center;
}

.acessar-div input {
  display: block;
  margin-top: 16px;
  width: 80%;
  background-color: var(--c10);
  padding: 16px 28px;
  border-radius: 24px;
  border: 2px solid var(--c1);
  font: 300 0.8rem/1.3 "Poppins";
  color: var(--c2);
}

.acessar-div .input-date {
  width: 150%;
}

.acessar-div .react-datepicker__current-month {
  font-size: 1.4rem;
}

.acessar-div .react-datepicker__navigation--previous {
  top: 7px;
  left: 8px;
}

.acessar-div input::placeholder {
  color: var(--c4);
}

.acessar-div input:focus-visible {
  outline: none;
  border-color: var(--p5);
}
.acessar-div input + a p {
  font-size: 0.9rem;
  margin: 16px 0px;
  text-decoration: underline;
}

.acessar-div form > button {
  background-color: var(--c1);
  font: 600 1rem/1.3 "Poppins";
  width: 95%;
  color: var(--c9);
  border-radius: 24px;
  padding: 14px 12px;
  cursor: pointer;
  border: 2px solid var(--c9);
}
