:root {
  --p9: #0415f4;
  --p8: #1e36d5;
  --p7: #294ceb;
  --p6: #265fda;
  --p5: #4c7aef;
  --p4: #569ff3;
  --p3: #53acf4;
  --p2: #72ccf3;
  --p1: #98dfeb;
  --c1: #ebedf8;
  --c2: #e1e4ef;
  --c3: #d0d5e3;
  --c4: #c0c6da;
  --c5: #b3bcd7;
  --c6: #a2abc9;
  --c7: #7b84a1;
  --c8: #6a7188;
  --c9: #3e4459;
  --c10: #2a3046;
  --c11: #20263b;
  --c12: #161c33;
  --c13: #090e24;
  --c14: #05091b;
}
